<div data-role="page" id="directions-new" style="width:100%; height:100%;">
<%= render 'partials/header' %>
<div data-role="content">
<%= render 'partials/user_information' %>

<ul data-role="listview" class="ui-listview ui-listview-inset ui-corner-all ui-controlgroup ui-controlgroup-vertical ui-shadow">
<li data-role="list-divider">Google</li>
<li>
   <%= link_to 'Google Map', new_map_path %>
</li>
</ul>

</div>
</div>
