<div data-position="fixed" data-role="header" id="header-mmbc">
<h1>Map My Bike Commute <i>Ride On</i><a data-role="button" data-iconpos="notext" data-icon="gear" onclick="scrollToMap()"></a><button onclick="scrollToHeader()">T</button><%= render 'partials/user_information' %></h1>
</div>
