<ul id="user-information" data-role="listview" class="ui-listview ui-listview-inset ui-corner-all ui-controlgroup ui-controlgroup-vertical ui-shadow">
<li>
<%= render 'devise/menu/registration_items' %>
<%= render 'devise/menu/login_items' %>
</li>
</ul>