<ul data-role="listview" class="ui-listview ui-listview-inset ui-corner-all ui-controlgroup ui-controlgroup-vertical ui-shadow"> 
<li>
<%= link_to 'World Commutes', governments_path %>
</li> 
</ul> 